<footer>
    Copyright Ecom College

    <p id="demo"></p>

    <script>
        const d = new Date();
        let text = d.toLocaleString();
        document.getElementById("demo").innerHTML = text;
    </script>
</footer>